.container {
  width: 9em;
  text-align: center;
  .couponImg {
    // width: 5em;
    padding: 0.5em 3em;
    > img {
      width: 100%;
      height: 100%;
    }
  }
  .couponCodeContainer {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    > h5 {
      font-size: 0.8em;
      font-weight: 400;
    }
    > p {
      font-size: 0.9em;
      font-weight: bold;
    }
  }
}
