.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #28282891;
  box-sizing: border-box;

  &:last-of-type {
    border-left: 2px solid red !important;
  }
  > div {
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 500;
    border-color: #28282891;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    position: relative;
    top: 2px;
    background-color: #fff;
    cursor: pointer;
    &:first-of-type {
      border-left-width: 1px;
    }
    &:not(:last-of-type) {
      border-right-width: 1px;
    }
    &:last-of-type {
      border-right-width: 1px;
    }
  }
}
