.__checkout {
  &__wrapper {
    max-width: 1250px;
    width: 90%;
    padding: 1em;
    flex-wrap: wrap;
    align-items: unset;
    > div {
      &:first-of-type {
        width: 68%;
      }
      &:last-of-type {
        width: 31%;
      }
    }
    @media screen and (max-width: 1200px) {
      // width: 100%;
      padding: 0;
    }
    @media screen and (max-width: 1024px) {
      > div {
        &:first-of-type {
          width: 100%;
        }
        &:last-of-type {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 480px) {
      > div {
        padding: 0.5em !important;
        &:first-of-type {
          width: 100%;
        }
        &:last-of-type {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 1200px) {
    }
    @media screen and (max-width: 1024px) {
      max-width: 1250px;
      width: 98%;
    }
    @media screen and (max-width: 968px) {
      max-width: 1250px;
      width: 99%;
    }
    @media screen and (max-width: 768px) {
      max-width: 1250px;
      width: 97%;
    }
  }
}
.__productDetails__container {
  align-items: flex-start;
  > div {
    &:nth-last-of-type(2) {
      width: 50% !important;
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgb(74, 74, 74);
        position: absolute;
        z-index: 10;
        right: 0;
      }
      > div {
        &:last-of-type {
          > div {
            width: 100%;
            > span {
              &:first-of-type {
                width: 30%;
              }
              &:last-of-type {
                width: 70%;
              }
            }
          }
        }
      }
    }
    &:nth-last-of-type(1) {
      width: calc(40% - 1.5em) !important;
      display: flex;
      flex-direction: column;

      > div {
        &:last-of-type {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: 0.3em;
          p {
            color: rgb(29, 29, 29);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .__checkout {
    &__wrapper {
      max-width: 1250px;
      width: 90%;
      padding: 1em;
      flex-wrap: wrap;
      align-items: unset;
      > div {
        &:first-of-type {
          width: 65%;
        }
        &:last-of-type {
          width: 31%;
        }
      }
    }
  }
  .__productDetails__container {
    align-items: flex-start;
    > div {
      &:nth-last-of-type(2) {
        width: 50% !important;
        position: relative;
        &::after {
          content: "";
          width: 1px;
          height: 100%;
          background-color: rgb(74, 74, 74);
          position: absolute;
          z-index: 10;
          right: 0;
        }
        > div {
          &:last-of-type {
            > div {
              width: 100%;
              > span {
                &:first-of-type {
                  width: 30%;
                }
                &:last-of-type {
                  width: 70%;
                }
              }
            }
          }
        }
      }
      &:nth-last-of-type(1) {
        width: calc(40% - 1.5em) !important;
        display: flex;
        flex-direction: column;

        > div {
          &:last-of-type {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 0.3em;
            p {
              color: rgb(29, 29, 29);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .__checkout {
    &__wrapper {
      max-width: 1250px;
      width: 90%;
      padding: 1em;
      flex-wrap: wrap;
      align-items: unset;
      > div {
        &:first-of-type {
          width: 100%;
        }
        &:last-of-type {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 968px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
  .__checkout {
    &__wrapper {
      width: 100%;
      padding: 0.5em;
      flex-wrap: wrap;
      align-items: unset;
      > div {
        &:first-of-type {
          width: 100%;
        }
        &:last-of-type {
          width: 100%;
        }
      }
    }
  }
  .__productDetails__container {
    align-items: flex-start;
    > div {
      &:nth-last-of-type(2) {
        width: 100% !important;
        position: relative;
        &::after {
          content: "";
          width: 1px;
          height: 100%;
          background-color: unset;
          position: absolute;
          z-index: 10;
          right: 0;
        }
        > div {
          &:last-of-type {
            > div {
              width: 100%;
              > span {
                &:first-of-type {
                  width: 30%;
                }
                &:last-of-type {
                  width: 70%;
                }
              }
            }
          }
        }
      }
      &:nth-last-of-type(1) {
        width: 100% !important;
        display: flex;
        flex-direction: column;

        > div {
          &:last-of-type {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 0.3em;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}

// ModalContent
.__modalContent {
  > div {
    &:first-of-type {
      background-color: #0000001c !important;
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
    }
  }
}
