.contactUs__container {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  background-color: #f2f6f7;

  .__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      background-color: rgb(242, 246, 247);
      width: calc(50% - 2em);
      padding: 2em 2.5em;
    }
  }
}
// ContactUsForm
.__form {
  display: flex;
  flex-direction: column;

  &__header {
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    padding: 0.4em 0;
    border-bottom: 2px solid $black-color;
    margin-bottom: 2.1em;
  }
  &__form {
    background-color: rgb(0, 30, 56);
  }
  form {
    background-color: rgb(0, 30, 56);
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3em;
      label {
        min-width: 5em;
        color: white;
      }
    }
    button {
      width: fit-content;
      width: -moz-fit-content;
      margin: auto 0 auto auto;
    }
  }
}
// SideBar
.__sideBar {
  display: flex;
  flex-direction: column;

  &__heading {
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }
    padding: 0.4em 0;
    border-bottom: 2px solid $black-color;
    margin-bottom: 2.1em;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    h3 {
      font-size: 1.2em;
      font-weight: 700;
    }
    p {
      font-size: 1em;
      font-weight: 400;
    }
  }
}
