.__container {
  .__progress {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
    position: absolute;
    padding: 0.4em;
    right: 0;
    > span {
      font-size: 0.8em;
      font-weight: 700;
      color: red;
      border-bottom: 1px solid red;
    }
  }
}
